@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div >
        <h2>This is an example mvc app deployed to pcf</h2>
        <ul>
            <li>Value from Config</li>
            <li>@ViewBag.ConfigLabel</li>
            <li>Application Name: @ViewBag.AppName</li>
            <li>WowFeature ON: @ViewBag.FeatureOn</li>
        </ul>
    </div>

</div>
